<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="">

    <div class="">
    
        <div class="container">
        {% block body %}{% endblock %}
        </div>
    
    </div>

</body>
</html>
