{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('panel') }}">panel</a>
<br>
<a href="{{ path('admin') }}">admin</a>
<br>
<a href="/wp">wordpress</a>
<br>
<a href="/wp/wp-admin/admin-ajax.php?action=get_users_from_api">load users from api to wp</a>



{% endblock %}