{% extends 'base.html.twig' %}

{% block body %}
<h2>Your data</h2>
<a href="{{ path('edit_user') }}">edit</a>
<div>
	<label>Name:</label>
	<span>{{ user.name }}</span>
</div>
<div>
	<label>Surname:</label>
	<span>{{ user.surname }}</span>
</div>
<div>
	<label>Email:</label>
	<span>{{ user.email }}</span>
</div>
<div>
	<label>Pesel:</label>
	<span>{{ user.pesel }}</span>
</div>
<div>
	<label>nip:</label>
	<span>{{ user.nip }}</span>
</div>
<div>
	<label>address:</label>
	<span>{{ user.address }}</span>
</div>
<div>
	<label>Description:</label>
	<span>{{ user.description }}</span>
</div>
<div>
	<label>Interests:</label>
	<span>{{ user.interests }}</span>
</div>
<div>
	<label>Skills:</label>
	<span>{{ user.skills }}</span>
</div>
<div>
	<label>Experience:</label>
	<span>{{ user.Experience }}</span>
</div>
<div>
	<label>Rating:</label>
	<span>{{ user.rating }}</span>
</div>
<div>
	<label>Birthdate:</label>
	<span>{{ user.birthdate|date('d-m-Y') }}</span>
</div>
{% if user.file is defined %}
<div>
	<label>File:</label>
	<span>
		<a href="/uploads/{{ user.file }}">{{ user.file }}</a>
	</span>
</div>
{% endif %}



{% endblock %}